/*------------Layout Styles-----------*/
*{
  box-sizing: border-box;
}

body {
  background: #F5F3EE;
  font-family: 'Alegreya', serif;
}

header {
  background: #7D1935;
  color: white;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

.container, .contact-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.item {
  align-self: center;
}

.contact-info,
.contact-info input, .contact-info select, .newsletter textarea {
  width: 100%;
}

fieldset {
  border: none;
}

button {
  color: #FFF;
  background: #4A96AD;
  width: 100%;
  border: none;
  padding: 1.1em;
}

legend {
  font-size: 1.25em;
  font-weight: bold;

}

.form-header {
  text-align: center;
  width: 95%;
  margin-bottom: 1.3em;
}

.form-header p {
  font-size: 1.3em;
    margin-top: -.8em;
    margin-bottom: 2.6em;
    font-family: 'Lato', sans-serif;
}




/*------------Contact Information Styles-----------*/
.border {
  border-bottom: 3px solid #7D1935;
  position: relative;
}

.border:before {
  border-bottom: 5px solid #7D1935;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
}

.contact-info {
  margin-bottom: 1.3em;
  padding-bottom: 1.6em;
  border-bottom: 3px solid #7D1935;
}

label {
  margin-bottom: 10px;
}

input::placeholder {
    color: #4A96AD;
      text-align: right;
      text-transform: capitalize;
      padding-right:  7px;
}

#zipcode {
  width: 50%;
  display: block;
}

input, select, textarea {
  background-color: #Fff;
  border: none;
  padding-left: 7px;
  padding-top: 1em;
  padding-bottom: 1em;
}


.contact-info .item {
  margin-top: 1em;
  font-family: 'Lato', sans-serif;
}

.contact-info label, .newsletter > label {
  display: inline-block;
}

/*------------newsletter Styles-----------*/
.newsletter .item {
  margin-bottom: 1em;
};

.newsletter > label {
  margin-top: 10px;
}
